
.custom-select{
    border:1px solid rgba(138,141,157,0.2);
    display: inline-block;
    padding:3px 7px;
    width:100px;
    margin-left:20px;
    border-radius: 4px;
}
.custom-select .MuiInputBase-root{
    width:100%;
}
.custom-select .MuiInput-underline:after{
    border-bottom:none !important;
}
.custom-select .MuiInputBase-root.Mui-focused{
    background: transparent;
}
.custom-select .MuiSelect-select:focus{
    background:transparent !important;
}
.custom-select.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot{
    padding-right:30px;
}
.custom-select .MuiSelect-icon{
    background-image: url('../../assets/Chevron-Down.svg');
    background-repeat: no-repeat;
    width:18px;
    height: 18px;
    display: inline-block;
    color: transparent !important;
    top: auto;
    bottom: auto;
}
.custom-select .MuiIconButton-label svg{
    display:none;
}
.custom-select .MuiAutocomplete-endAdornment{
    top:0px;
    bottom:0px;
    display: flex;
}
.custom-select .MuiIconButton-root:hover{
    background-color:none;
}
.custom-select .MuiInput-input,.MuiMenuItem-root{
    font-family:"Graphik Regular" !important;
    font-size : 14px !important;
    color:#8A8D9D !important;
    text-align: left !important;
    font-weight: 400 !important;
}
.MuiMenu-paper{
    padding:10px 15px !important;
    box-shadow: none !important;
}