
.MuiTableCell-root.label-parent .membername{
    color:#2B2E4C;
}

.data-bold.total-member{
    color:#231F20;
}
.data-bold.active-member{
    color:#A1D36D;
}
.data-bold.inactive-member{
    color:#8C8C8C;
}
.data-bold.kyc-pending{
    color:#E48835;
}
.data-bold.kyc-rejected{
    color:#DD0000;
}
.select-with-label{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    font-family:"Graphik Regular";
    font-size : 12px;
    color: #ADADAD;
    line-height: 14px;
    text-align: left;
    font-weight: 400;
}
.enable-row , .enable-row td{
    cursor: pointer;
}
.disabled-row ,.disabled-row td{
    cursor:not-allowed;
}