.admin-profile-details .profile-details{
    text-align: unset ;
}
.admin-personal-info-section.edit-container .MuiGrid-item{
    border:none;
    margin-bottom:0px;
}
.admin-personal-info-section .MuiGrid-item{
    border-bottom:1px solid rgba(0,0,0,0.1);
    margin-bottom:15px;
    padding:3px;
}
.admin-personal-info-section .label-txt,.admin-personal-info-section .field-txt{
    margin-bottom:15px;
}
.logout-txt{
    font-family:"Graphik Medium";
    font-size : 14px;
    color: #FF3333;
    line-height: 17px;
    text-align: left;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;   
}
.company-conditions-section a{
    text-decoration: underline;
    font-family:"Graphik Regular";
    font-size : 12px;
    color: #2B2E4C;
    line-height: 14px;
    text-align: left;
    font-weight: 400;
    cursor: pointer;   
    opacity: 0.4;
    margin:0px 10px;
}
.edit-profile-details{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width:100%;
    height:200px;
    display: inline-block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.edit-profile-details .profile-photo-icon{
    position: absolute;
    bottom:10px;
    right:10px;
    background-color:rgba(255,255,255,0.4);
    background-image: url('../../assets/Camera@2x.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding:10px;
    width:18px;
    height:18px;
    border-radius: 50%;
    cursor: pointer;
}
.logout-icon{
    background-image: url('../../assets/logout_icon.svg');
    width: 18px;
    height: 18px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    vertical-align: middle;
    margin-right: 10px;
}
.admin-profile-details .profile-details .profile-name{
    text-transform: uppercase;
    margin:20px 0px;
    font-size:14px;
    font-family:"Graphik Medium";
    color: #2B2E4C;
    line-height: 22px;
    font-weight: 400;
}