/*Preview section*/
.email-preview .preview-head{
    background-image:url('../../assets/promo_email_preview.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding:10px 20px;
    border-radius:7px;
}
.email-preview .sponsor-logo{
    width:60px;
    height: 60px;
    border-radius: 30px;
}
.email-preview .sub-heading.email-title{
    color:#ffffff;
    width:75%;
    margin:0 auto;
    display: block;
    text-align: center;
    font-size:18px;
    line-height:25px;
}
.email-preview .promo-code-sec{
    text-align: center;
}
.email-preview .message-preview{
    padding:10px 30px;
    line-height: 17px;
}
.email-preview .promocode-preview{
    display: inline-block;
    border:1px dashed rgba(43,46,76,0.5);
    border-radius: 7px;
    padding:15px 20px;
    margin-bottom:10px;
    font-family:"Graphik Medium";
    font-size : 18px;
    color: #2B2E4C;
    line-height: 22px;
    text-align: left;
    font-weight: 400;
}
.email-preview .update-date-txt{
    display: block;
    text-align: center;
    margin-right:0px;
}

.appnotification-preview{
    background-image:url('../../assets/promo_mobile_preview.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius:7px;
    min-height:415px;
    background-size:106%;
    width:100%;
}
.appnotification-preview .preview-wrapper{
    padding:10px 20px;
}
.appnotification-preview .preview-body{
    position: absolute;
    bottom:11%;
    width:70%;
    left:0px;
    right:0px;
    background-color: rgba(255,255,255,0.1);
    padding:10px 10px;
    margin:10px auto;
}
.appnotification-preview .preview-body .flx-align-center{
    flex-direction: row;
    flex-wrap: nowrap;
}
.appnotification-preview .notify-title{
    font-family:"Graphik Regular";
    font-size : 13px;
    color: #FFFFFF;
    line-height: 16px;
    text-align: left;
    font-weight: 400;
    margin-bottom:5px;   
}
.appnotification-preview .update-date-txt{
    font-size:10px !important;
    display: inline-block;
}
.appnotification-preview .promocode{
    font-size: 12px;
    padding:8px;
    color:#ffffff !important;
    border:1px dashed rgba(255,255,255,0.3) !important;
}
.appnotification-preview .sponsor-logo{
    width: 40px;
    height: 40px;
    border-radius: 100%;

}
.appnotification-preview .title-container{
    padding:0px 10px;
}
.promo-dynfield-container .info-section .MuiGrid-item{
    padding:0px !important;
}
.location-field .form-fields{
    background-image:url('../../assets/location@2x.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size:20px 20px;
    opacity:0.5;
}
.location-field .form-fields .MuiInput-input{
    padding-left:30px;
}
.point-distribution{
    list-style: none;
    display: flex;
    flex-direction:row;
    padding-left:0px;
}
.point-distribution li{
    margin:10px;
    padding:10px 15px;
    border:1px solid #8A8D9D;
    border-radius: 4px;
    color:#8A8D9D;
    cursor: pointer;
}
.point-distribution li.selected{
    background:#8A8D9D;
    color:#FFFFFF;
}