
.data-bold.pending{
    color:#F78925;
}
.data-bold.failed{
    color: #FF6A6A;
}
.data-bold.transfer{
    color: #0082E1;
}
 .data-bold.redeemed{
    color: #B6B6B6;
}
.data-bold.hunt{
    color: #319AA1;
}
.data-bold.promotions{
    color: #17BB00;
}