.MuiAppBar-colorPrimary{
    color:#2B2E4C !important;
    background:transparent !important;
    box-shadow: none !important;
}
.PrivateTabIndicator-colorSecondary-4,.PrivateTabIndicator-colorSecondary-3,.MuiTabs-indicator{
   background-color:#2B2E4C !important;
   height:4px !important;
}
.org-info-main .MuiTab-root{
    min-width:120px;
}
.custom-tab.org-info-main .MuiTab-root{
    text-transform: capitalize;
    min-width: auto;
    margin-right:30px;
}
.org-info-main header.MuiPaper-root{
    padding-left:8px;
    padding-bottom:20px;
}
.org-info-main .detail-page,.org-info-main .list-page{
    padding:0px;
}