
.org-details-page-container .page-title{
    margin:10px 0px;
    font-size:18px;
    text-transform: uppercase;
    font-family: 'Graphik Regular';
    line-height: 22px;
    text-align:left;
}
.org-details-page-container .data-bold{
    font-size:16px;
}
.org-details-page-container .sub-caption{
    font-size:12px !important;
}
.org-details-page-container .org-info-section .org-info-icon.green{
    height: 15px;
}
.org-details-page-container .org-info-section .org-info-icon.d-txt{
    font-size: 18px;
}
.update-date-txt{
    font-family: 'Graphik Regular';
    line-height: 22px;
    text-align:left;
    font-size:12px;
    color:#AFAFAF;
    margin-right:0px;
}
.org-edit-section{
    justify-content: flex-end !important;
}
.org-detail-img{
    width:100%;
    height: 65px;
    border-radius: 100%;
}