.org-info-details .sec-heading{
    font-family:"Graphik Medium";
    font-size : 14px;
    line-height: 17px;
    text-align: left;
    font-weight: 400;
    color:#686868; 
    margin-bottom:5px;
    display: inline-block;

}
.org-info-games .MuiTab-root{
    min-width: auto !important;
}
.org-info-games .MuiTab-root{
    font-family:"Graphik Regular";
    font-size : 12px;
    line-height: 14px;
    text-align: left;
    font-weight: 400;
    color:#8A8D9D; 
    padding:6px 2px;
    min-height:25px;
    text-transform: capitalize;
}
.org-info-games.social-tab-container .MuiTab-root{
    padding: 6px 10px;
}
.org-info-games .MuiTab-root.Mui-selected{
    color: #2B2E4C;
}
.org-info-games header.MuiPaper-root{
    padding:0px;
}
.org-info-details .MuiPaper-root{
    padding:20px;
}
.org-info-games .MuiTabs-indicator{
    height:2px !important;
    bottom:30%;
}
.match-details{
    text-align:center;
    align-items: center;
}
.match-details .player-details .game-players{
    width:48px;
}
.tabpanel.social-details{
    min-height: 300px;
}
.match-details .match span, .match-details .player-name{
    font-family:"Graphik Medium";
    font-size : 10px;
    line-height: 14px;
    font-weight: 400;
    color:#8A8D9D; 
    display: block;
}
.match-details .match span.match-type ,.match-details .player-name{
    font-size: 12px;
}
.video-details .video-title{
    font-family: 'Graphik Medium';
    margin-bottom:5px;
    display: block;
}
.video-title{
    font-family: "Graphik Medium";
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
    color: #686868;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.video-details,.video-details p{
    font-family:"Graphik Regular";
    font-size : 12px;
    line-height: 17px;
    font-weight: 400;
    color:#686868; 
    margin-top:2px;
}
.video-player-thumbnail{
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    width:100%;
    border:1px solid #C5C5C5;
}
.media-container{
    height: 100% !important;
}
.org-payer-list{
    padding:0px;
}
.events-sec .event-title{
    font-family:"Graphik Medium";
    font-size : 12px;
    line-height: 17px;
    font-weight: 400;
    color:#686868; 
    text-transform: uppercase;
    margin-top:5px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.events-sec .events-img{
    border-radius: 6px;
}
.event-wrapper,.news-wrapper,.videostreaming-wrapper{
    max-height: 600px;
    overflow-y: auto;
}