.company-details .companyname{
    font-family:"Graphik Medium";
    font-size : 14px;
    color: #000000;
    line-height: 24px;
    text-align: left;
    font-weight: 400;
}
.company-details .profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
}
.table-edit-icon{
    background-repeat: no-repeat;
    width:23px;
    height:24px;
    display:inline-block;
    background-size: 100%;
    background-position: 0px 0px;
    vertical-align: middle;
    margin-right:5px;
    cursor: pointer;
    background-image: url('../../assets/Drafts.svg');
}
.promocode{
    padding:10px 20px;
    border:1px dashed #2B2E4C;
    border-radius: 4px;
    font-family: "Graphik Medium" !important;
    line-height: 14px !important;
    color: #2B2E4C !important;
}

/*Confirmation dialog box style*/
.confim-model-container{
    width: 100%;
    height: 100%;
    padding:0px;
    position: absolute;
    top:0px;
    left:0px;
    background-color:rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.confirmation-wrapper{
    width:50% !important;
}
.confirmation-sec{
    width:100%;
}
.promo-list{
    width: 40px;
    height:40px;
    border-radius: 100%;
}