/*Login Style*/
.login-container,.signin-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Graphik Medium';
}
.input{
    background-color: red !important;
}
.header-brand .logo-big{
    width: 140px;
    /* background: url("../../assets/logo-big.png") no-repeat;
  background-size: 40%;
  background-position: center;
  width: 100%;
  height: 100%; */
}
/*Form custom style*/
.MuiInput-underline:before{
    border:none !important;
}
.form-container .MuiFormControl-root{
    display: block !important;
    border-bottom: 1px solid rgba(200,200,204 , 0.87);
}
.MuiPaper-root{
    padding:30px;
}
.form-title{
    font-family:"Graphik Medium";
    font-size : 14px;
    text-transform: uppercase;
    color:#000000;
    line-height: 17px;
    text-align: left;
}
.form-container .MuiInput-root{
    width:100%;
}
.form-container .input-group{
    margin:20px 0px;
}
.form-container .input-label{
    display: inline-block;
    font-family:"Graphik Regular";
    font-size : 12px;
    color:#686868;
    line-height: 14px;
    text-align: left;
    margin-bottom:15px;   
}
.form-container .MuiInputBase-input,.input{
    font-family:"Graphik Regular";
    font-size : 14px;
    color:#2B2E4C;
    line-height: 17px;
    text-align: left;
}
.form-container .MuiFormControlLabel-label{
    font-family:"Graphik Regular";
    font-size : 16px;
    color:#2B2E4C;
    line-height: 17px;
    text-align: left;
}
.form-container .splited-group{
    display: flex;
    align-items: center;
    justify-content: center;
}
.MuiIconButton-colorSecondary:hover{
    background-color : rgba(43, 46, 76, 0.04) !important;
}
.MuiCheckbox-colorSecondary.Mui-checked{
    color:#2B2E4C !important;
}
.form-container .splited-group .forgot-password{
    order:2;
    margin-left:auto;
    display: inline-block;
    font-family:"Graphik Regular";
    font-size : 12px;
    color:#4A90E2;
    text-decoration: underline;
    line-height: 14px;
    cursor: pointer;
}
.form-container .submit-btn{
    margin-bottom:0px;
}
.form-container .form-submit-btn{
    width:100%;
    background-color: #2B2E4C;
    color:#ffffff;
    font-family:"Graphik Medium";
    font-size : 14px;
    line-height: 14px;
    cursor: pointer;
    padding:18px 0px;
    border:none;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top:20px;

}
.signup-section{
    margin:30px 0px;
}
.signup-section .signup-header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.signup-section .signup-header .headline-divider{
    width:50%;
    position:absolute;
    height: 1px;
    background:#231F20;
    z-index: -1;
    opacity: 0.1;
}
.signup-section .signup-header .form-title{
    background:#ffffff;
    padding:5px 15px;
    font-family:"Graphik Regular";
    font-size : 14px;
    color:#918F8F;
    line-height: 14px;
    text-transform: capitalize;
}
.signup-socialicon-section .social-icons{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
}
.signup-socialicon-section .social-icons li{
    padding:10px 20px;
    background:#ffffff;
    border:1px solid #B3CCFF;
    border-radius: 22px;
    
}



