
.dashboard-container .MuiTableContainer-root{
    padding:0px !important;
    box-shadow: none !important;
}
/*table general style*/
/* .MuiPaper-root{
    padding:20px 0px 20px 15px !important;
} */
.table-heading{
    display: inline-block;
    font-family:"Graphik Medium";
    font-size : 14px;
    color:#000000;
    line-height: 17px;
    text-align: left;
    margin:15px 0px;
}
.MuiTableHead-root .MuiTableCell-root{
    padding:5px 5px !important;
}
.MuiTableCell-root{
    padding:8px 10px !important;
}
.MuiTableCell-root.label-parent{
    padding-left:5px !important;
}
.profile-img{
    width:30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.table-container td label,.table-container td div{
    font-family:"Graphik Regular";
    font-size : 12px;
    color:var(--table-font-color);
    line-height: 20px;
    text-align: left;
    text-transform: capitalize;
}

.data-bold{
    display: inline-block;
    width:100%;
    font-family:"Graphik Medium";
    font-size : 12px;
    color: #000000;
    line-height: 12px;
    text-align: left;
    white-space: nowrap;
}
.sub-caption{
    font-family:"Graphik Regular";
    font-size : 12px !important;
    color: var(--table-font-color);
    line-height: 12px;
    text-align: left;
}
.table-container .sub-caption{
    font-size:10px !important;
}
.overview-chart-panel{
    align-items: center;
}
.overview-chart-panel .sub-caption{
    font-size:10px !important;
    display: inline-block;
}
.overview-chart-panel .overview-title{
    font-family:"Graphik Medium";
    font-size : 14px;
    color: #000000;
    line-height: 17px;
    text-align: left;
    margin:0px;
    font-weight: 400;
}
.overview-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.overview-wrapper .MuiPaper-root{
    padding:25px 10px 25px 10px !important;
}
.org-member-overview-report .MuiGrid-container{
    margin-bottom:15px;
}
.org-member-overview-report .MuiGrid-item{
    padding-right: 10px;
}
.btn-section{
    text-align: center;
    margin-top:20px !important;
}
.view-all-btn{
    margin-top:20px !important;
}
.view-all-btn .btn{
    border:none !important;
    width:100% !important;
    padding: 10px !important;
}
.btn{
    box-shadow: none !important;
    background:transparent !important;
    border:1px solid #D8D8D8 !important;
    border-radius: 4px !important;
    font-family:"Graphik Medium" !important;
    font-size : 12px !important;
    color: #60616D !important;
    line-height: 14px !important;
}

/*chart svg style*/
.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  
  .single-chart {
    width: 33%;
    justify-content: space-around ;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke:#FF6A6A;
    stroke-width: 4;
  }
  
  .circle {
    fill: none;
    stroke-width: 5;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  .circular-chart.orange .circle {
    stroke: #6DD400;
  }
  .transaction-status-wrapper{
      margin-bottom:30px;
  }
  .transaction-status-wrapper .MuiGrid-item{
    margin-right:20px;   
  }

.data-bold.pending{
    color:#F78925;
}
.data-bold.failed{
    color: #FF6A6A;
}
.data-bold.transfer{
    color: #0082E1;
}
 .data-bold.redeemed{
    color: #B6B6B6;
}
.data-bold.hunt{
    color: #319AA1;
}
.data-bold.promotions{
    color: #17BB00;
}
.top-section .view-all-btn{
    margin-top:0px !important;
}
.top-section .view-all-btn .btn{
    padding:10px !important;
}
.org-member-overview-report .btn-section{
    margin-top:10px !important;
}