.detail-page.member-profile{
    margin-top:20px;
}
.detail-page.member-profile .page-title{
    margin:0px;
}
.profile-details{
    text-align: center;
}
.profile-details .profile-img{
    width:145px;
    height: 145px;
}
.profile-details .profile-name{
    margin:10px 0px;
    font-size:18px;
    font-family:"Graphik Medium";
    color: #2B2E4C;
    line-height: 22px;
    font-weight: 400;
}
.profile-details .label-txt,.profile-details .label-txt-small{
    margin-bottom:10px;
}
.profile-details .chip-section{
    margin-bottom:10px;
}
.profile-details .MuiChip-root{
    margin:5px;
    width:90px;
}
.profile-details .MuiChip-icon{
    color:#ffffff;
    width:15px;
    height:15px;
    margin-left: 0px;
    font-size:18px;
    font-family:"Graphik Medium";
}
.profile-details .revenue-section{
    display: flex;
    justify-content: center;
    background: #F5F5F5;
    border-radius:4px;
    padding:10px 30px;
}
.profile-details .revenue-section .revenue-parent{
    margin:0px 15px;
}
.profile-details .revenue-section .data-bold{
    text-align: center;
    font-size:16px;
}
.info-section .MuiGrid-item{
    padding:12px 0px !important;
}
.info-section .label-txt{
    margin-bottom:10px;
}
.address-field{
    font-family:"Graphik Regular";
    font-size: 12px;
    color: #2B2E4C;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
}
.kyc-paper{
    margin-top:30px;
}
.kyc-verification-container{
    border:1px solid rgba(117,117,117,0.2);
    border-radius: 5px;
    padding:20px;
    margin-bottom:20px !important;
}
.kyc-verification-container .MuiSvgIcon-root{
    color: #4DA851;
}

.kyc-verification-container .section-title{
    margin:10px 0px;
    color: #2B2E4C;
    font-family: "Graphik Medium";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 17px;
}
.edit-member-profile-actions .btn{
    padding:10px 30px !important;
}