/* sign in and signout styles */ 
.sign-wrapper {
  text-align: center;
  margin:0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 110vh;
  flex-direction: column;
  background-image: url('./assets/signin_bg@3x.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:100%;
}
.form-field-label{
  height: 100px;
  color: red;
  background-color: red;
  display: none;
}
.signin-logo-img{
  width:140px;
}
amplify-authenticator  {
 
}
amplify-federated-buttons{
  display: none;
}
:root {
  --amplify-primary-color: #2B2E4C;
  --amplify-primary-tint: #2B2E4C;
  --amplify-primary-shade: #2B2E4C;
  --amplify-text-xxs:0.75rem;
}

:root {
  --nav-bg-color: #2B2E4C;
  --header-bg-color: #fff;
  --header-border-color: #EEEEEE;
  --main-bg-color: #F6F6F6;
  --menu-active-color: rgba(94,109,189, 0.36);
  --icon-init-color: #8A8D9D;
  --icon-active-color: #fff;
  --table-font-color:#757575;
  
}



.ptv-nav-left {
  grid-area: nav;
  background-color: var(--nav-bg-color);
  grid-row: 1 / 4;
}

.ptv-header {
  grid-area: header;
  background-color: var(--header-bg-color);
  border-bottom: 1px solid var(--header-border-color);
}

.logo {
  background: url("../src/assets/ic_logo.png") no-repeat;
  background-size: 52px;
  background-position: center;
  width: 100%;
  height: 80px;
}

.ptv-main {
  grid-area: main;
  background-color: var(--main-bg-color);
  padding-left: 20px;
}
.pointsville-title-container .sub-caption{
  color: var(--icon-init-color);
}
.pointsville-title{
  color: var(--nav-bg-color);
  font-size: 20px;
  margin:0px;
  line-height: 24px;
  font-family:"Graphik Medium";
  font-weight: 400;
}

.ptv-app {
  display: grid;
  grid-template-areas:
    'nav header'
    'nav main';
  grid-template-columns: 80px auto;
  grid-template-rows: 80px 1fr;
  height: 100vh;
}

.left-nav {
  margin: auto;
  padding: 0;
  list-style: none;
}
.left-nav li {
  width: 100%;
  height: 78px;
  text-align: center;
}
.left-nav li a {
  display: block;
}
.left-nav li a.active {
  background-color: var(--menu-active-color);
}

.left-nav li a.active div {
  background-color: var(--icon-active-color);
}
.dashboard-menu-item a > div {
  background-color: var(--icon-init-color);
  -webkit-mask:  url(./assets/dashboard.svg) no-repeat 50% 50%;
  mask: url(./assets/dashboard.svg) no-repeat 50% 50%;
  width: 100%;
  height: 80px;
  display: block;
}

.manage-club-menu-item a > div {
  background-color: var(--icon-init-color);
  -webkit-mask:  url(./assets/organization.svg) no-repeat 50% 50%;
  mask: url(./assets/organization.svg) no-repeat 50% 50%;
  width: 100%;
  height: 80px;
  display: block;
}

.manage-member-menu-item a > div {
  background-color: var(--icon-init-color);
  -webkit-mask:  url(./assets/people.svg) no-repeat 50% 50%;
  mask: url(./assets/people.svg) no-repeat 50% 50%;
  width: 100%;
  height: 80px;
  display: block;
}

.refresh-menu-item a > div {
  background-color: var(--icon-init-color);
  -webkit-mask:  url(./assets/transaction.svg) no-repeat 50% 50%;
  mask: url(./assets/transaction.svg) no-repeat 50% 50%;
  width: 100%;
  height: 80px;
  display: block;
}
/*Search container*/
.ptv-header{
  display:flex;
  align-items: center;
  padding:0px 20px;
  
}
.header-section{
  width:100%;
}
.header-container{
  align-items: center;
}
.search-container{
  background:#E7EBEE;
  border-radius: 4px;
  width:60%;
} 
.profile-section{
  display: flex;
  align-items: center;
  justify-content: flex-end;
 
}
.profile-section .profile-img{
  width:30px;
  height:30px;
  margin-right:10px;
  cursor: pointer;
}
.profile-section .profile-name{
  color:#231F20;
    font-family:"Graphik Regular";
    font-size : 14px;
    line-height: 17px;
    text-align: left;
    font-weight: 400;
    cursor: pointer;
}

