:root {
    --table-font-color:#757575;
    --text-green : #6DD400;
    --text-red : #FF6A6A;
    --page-title:#8A8D9D;
    --font-theme-color : #2B2E4C;
  }
img{
    width:100%;
  }
.mrgCenter{
    margin:0 auto !important;
}
.mrg0{
    margin:0px;
}
.mrgb-20,.MuiGrid-container.mrgb-20{
    margin-bottom:20px !important;
}
.display-none{
    display:none !important;
}
.padr0{
    padding-right: 0px !important;
}
.pad0{
    padding:0px !important;
}
.padd-left8{
    padding-left:8px !important;
}
.padd-10{
    padding:10px !important;
}
.padd-15{
    padding:15px !important;
}
.padd-20{
    padding: 20px !important;
}
.btn-padding{
    padding:8px 30px !important; 
}
.green{
    color:var(--text-green) !important;
}
.red{
    color:var(--text-red) !important;
}
.nowrap{
    white-space: nowrap;
}
.error {
    border-bottom:1px solid rgba(255,106,106,1) !important;
}
.error-message{
    color:var(--text-red);
    font-family:"Graphik regular";
    font-size : 10px;
    line-height: 12px;
    text-align: left;
    font-weight: 400;
    margin-top:2px;
    display: block;
}
.common-dialog-container  .MuiDialog-paperWidthSm{
    min-width:500px;
    max-width:600px;
}
.common-dialog-container.org-container  .MuiDialog-paperWidthSm{
    min-width:950px;
    max-width:950px;
}
.common-dialog-container.member-container  .MuiDialog-paperWidthSm{
    min-width:750px;
    max-width:800px;
}
.flx-align-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.borderL{
    border-left:2px solid #EAEAEA;
}
.borderR{
    border-right:2px solid #EAEAEA;
}
.flx-end{
    justify-content: flex-end !important;
}
.border-right{
    border-right: 1px solid #C5C5C5;
}
.page-title{
    font-family:"Graphik Medium";
    font-size : 18px;
    color: var(--page-title);
    line-height: 22px;
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
}
.section-heading{
    font-family:"Graphik Medium";
    font-size : 14px;
    color: #2B2E4C;
    line-height: 17px;
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.section-heading.sub-heading{
    text-transform: capitalize;
    color:#757575;
    display: inline-block;
}
.MuiGrid-container{
    width:100% !important;
    margin:0px !important; 
}
.field-txt{
    font-family:"Graphik Regular";
    font-size : 12px;
    color: #2B2E4C;
    line-height: 14px;
    font-weight: 400;
    display: block;
}
.label-txt{
    font-family:"Graphik Regular";
    font-size : 12px;
    color: #8A8D9D;
    line-height: 14px;
    font-weight: 400;
    display: block;
}
.label-txt-small{
    font-family:"Graphik Regular";
    font-size : 10px;
    color: #8A8D9D;
    line-height: 14px;
    font-weight: 400;
    display: block;
}
.padl-40{
    padding-left: 45px;
}
.padl-30{
    padding-left: 30px;
}
.mrgl-30{
    margin-left:30px !important;
}
.mrgr-30{
    margin-right:30px !important;
}
.p-relative{
    position: relative;
}
.align-right{
    text-align:right ;
}
.align-center{
    text-align:center !important;
}
.borderb-none{
    border-bottom:none !important;
}
.MuiTableContainer-root{
    padding:0px !important;
    box-shadow: none !important;
}
.MuiTableCell-stickyHeader{
    background-color:#ffffff !important;
}
/*Chip style*/
.MuiChip-root{
    height:20px !important;
    border:none !important;
}
.MuiChip-root.green{
    background:#A2D272;
}
.MuiChip-root.pending{
    background:#EF9898;
} 
.MuiChip-root span{
    color:#ffffff;
    font-family:"Graphik Medium";
    font-size : 10px;
    line-height: 12px;
    text-align: left;
    font-weight: 400;
}
.MuiTableCell-head{
    color:#686868 !important;
}
/*list Page common style*/
.table-wrapper{
    padding:20px;
}
.MuiTableCell-root.label-parent ,.muidata-table .MuiTableCell-root {
    padding: 15px 10px !important;
}
.muidata-table .MuiToolbar-root{
    padding:0px;
}
.muidata-table h6.MuiTypography-root{
    display: inline-block;
    font-family: "Graphik Medium";
    font-size: 14px;
    color: #000000;
    line-height: 17px;
    text-align: left;
    margin: 15px 0px;
    text-transform: uppercase;
}
.transaction-status-wrapper{
    margin-bottom:30px !important;
}
.list-page,.detail-page{
    padding:20px;
}
.item-status{
    margin-bottom:30px !important;
}
.item-status .MuiGrid-item{
    margin-right:40px;   
  }
  .item-status .data-bold{
    font-size:20px;
    line-height: 24px;
}
.item-status .sub-caption{
    white-space: nowrap;
}
.btn{
    padding:8px 15px;
    border:1px solid #D0D0D0 !important;
    border-radius:4px !important;
    font-family:"Graphik Medium" !important;
    font-size : 12px !important;
    color: #8A8D9D !important;
    line-height: 12px;
    text-transform: uppercase !important;
    font-weight: 400;
    background: #ffffff !important;
    margin-left:20px;
    white-space: nowrap;
    cursor: pointer;
}
.btn:focus{
    outline:none;
}
.btn.btn-primary{
    color: #FFFFFF !important;   
    background: #2B2E4C !important;
}
.btn.btn-secondary{
    color: #8A8D9D !important;   
    background: #ffffff !important;
}
.btn.btn-secondary.btn-delete{
    color:#E45151 !important;
}
.btn .btn-caption{
    vertical-align: middle;
}
.btn .btn-icon{
    background-repeat: no-repeat;
    width:23px;
    height:24px;
    display:inline-block;
    background-size: 100%;
    background-position: 0px 0px;
    vertical-align: middle;
    margin-right:5px;
    cursor: pointer;
}
.btn.edit-btn .btn-icon{
    background-image: url('./assets/Drafts.svg');
}
.btn.add-btn .btn-icon{
    background-image: url('./assets/Plus@2x.png');
}
.general-icon{
    width:20px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.general-icon.edit-icon{
    background-image: url('./assets/Drafts@2x.svg');
}
.rm-right{
    width:100% !important;
    margin:0px !important;
}
.back-icon{
    width:22px;
    height: 21px;
    display: inline-block;
    background-image:url('./assets/Back-icon.svg');
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center;
    position: absolute;
    left: 0px;
}
.table-head-section{
    margin-bottom:20px !important;
}
.select-label{
    color:#ADADAD;
    font-family:"Graphik Regular";
    font-size : 14px;
    line-height: 12px;
    text-align: left;
    font-weight: 400;
    white-space: nowrap;
}
/*input type file profile image styles*/
.input-file-group .file-mask-section{
    width:149px;
    height:149px;
    border:2px solid #EAEAEA;
    border-radius:72px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.input-file-group .file-mask-section.edit-view{
    width:100%;
    height:auto;
    flex-direction: row;
    border:none;
}
.input-file-group .file-mask-section.edit-view .upload-img{
    width:24px;
    height:24px;
}
.input-file-group .file-mask-section.edit-view label{
    margin-left:10px;
}
.input-file-group .file-mask-section label{
    width:50%;
    text-align: center;
    margin-top:5px;
    font-family:"Graphik Regular";
    font-size : 12px;
    line-height: 14px;
    text-align: left;
    font-weight: 400;
    color:#9F9F9F;
}
.input-file-group .file-mask-section .upload-img{
    background-image: url('./assets/Image@2x.svg');
    width:48px;
    height:48px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
}
.input-file-group{
    position: relative;
    margin-top:0px !important;
   
}
.input-file-group.edit .form-fields{
    width:100%;
    height:100%;
    top:0px;
}
.input-file-group .form-fields{
    opacity: 0;
    width:150px;
    height: 150px;
    position: absolute;
    border-bottom:none !important;
    cursor: pointer;
    left:0px;
    right:0px;
    margin:0 auto;
}
.date-picker{
    opacity:0.5;
}
.MuiInput-underline:after{
    border-bottom:none !important;
}
.input-file-group  .MuiInput-underline:after{
    border-bottom:none !important;
}
.input-file-group .MuiInput-root{
    width:100%;
    height:100%;
}
.input-file-group input{
   width:100%;
   height:100%;
}
.form-grid .MuiGrid-item{
    padding-top:0px !important ;
    padding-bottom:0px  !important;
}
.social-field{
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 0px center;
    margin-bottom:10px !important;
}
.social-field.fb{
    background-image:url('./assets/facebook@2x.svg');
}
.social-field.insta{
    background-image:url('./assets/instagram@2x.svg');
}
.social-field.twitter{
    background-image:url('./assets/twitter@2x.svg');
}
.social-field input{
    padding-left:35px;
}
.form-heading{
    text-transform: capitalize !important;
    color:#757575;
}
.MuiDialog-paper{
    padding:20px !important;
}
.MuiDialogActions-root{
    padding:8px 24px !important;
}
/*coming soon table*/
.coming-soon-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.coming-soon-section .page-title{
    color:#686868;
}
.textarea-group textarea{
    display: block;
    width:100%;
    border:none;
    border-bottom: 1px solid rgba(200,200,204 , 0.87);
}
.custom-select.form-select{
    margin-left:0px;
    border:none;
    border-bottom:1px solid #C8C8CC;
    padding:0px;
    border-radius: 0;
}
.custom-select.form-select svg{
    background-image: url('./assets/Chevron-Down@2x.svg');
    background-position: center;
    right:5px;
}
/*Mui data table*/
.MuiPopover-paper.MUIDataTableToolbar-filterPaper-24 {
    padding:10px;
}
.MUIDataTableFilter-root-79 ul{
    overflow: hidden;
}
.MUIDataTableFilter-root-79 li.MuiGridListTile-root{
    padding:10px !important;
    width:50% !important;
}
.form-container h2.MuiTypography-root{
    text-align: center;
    font-family:"Graphik Medium";
    font-size : 14px;
    line-height: 17px;
    text-align: left;
    font-weight: 400;
    color:var(--font-theme-color);
}
.loader-table tr{
    display: block;
}
.logout-icon,.pointer{
    cursor: pointer;
}
.link{
    text-decoration: none;
    cursor: pointer;
}
.link:hover{
    text-decoration: underline;
}
.text-wrapper{
    width:100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}