/*Font family*/
@font-face {
  font-family: 'GraphikThinItalic';
  src: url('./assets/fonts/Graphik-ThinItalic.woff2') format('woff2'),
      url('./assets/fonts/Graphik-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GraphikThin';
  src: url('./assets/fonts/Graphik-Thin.woff2') format('woff2'),
      url('./assets/fonts/Graphik-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik SuperItalic';
  src: url('./assets/fonts/Graphik-SuperItalic.woff2') format('woff2'),
      url('./assets/fonts/Graphik-SuperItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Super';
  src: url('./assets/fonts/Graphik-Super.woff2') format('woff2'),
      url('./assets/fonts/Graphik-Super.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik SemiboldItalic';
  src: url('./assets/fonts/Graphik-SemiboldItalic.woff2') format('woff2'),
      url('./assets/fonts/Graphik-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Semibold';
  src: url('./assets/fonts/Graphik-Semibold.woff2') format('woff2'),
      url('./assets/fonts/Graphik-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik RegularItalic';
  src: url('./assets/fonts/Graphik-RegularItalic.woff2') format('woff2'),
      url('./assets/fonts/Graphik-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik MediumItalic';
  src: url('./assets/fonts/Graphik-MediumItalic.woff2') format('woff2'),
      url('./assets/fonts/Graphik-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Regular';
  src: url('./assets/fonts/Graphik-Regular.woff2') format('woff2'),
      url('./assets/fonts/Graphik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Medium';
  src: url('./assets/fonts/Graphik-Medium.woff2') format('woff2'),
      url('./assets/fonts/Graphik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LightItalic';
  src: url('./assets/fonts/Graphik-LightItalic.woff2') format('woff2'),
      url('./assets/fonts/Graphik-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Light';
  src: url('./assets/fonts/Graphik-Light.woff2') format('woff2'),
      url('./assets/fonts/Graphik-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik ExtraLightItalic';
  src: url('./assets/fonts/Graphik-ExtralightItalic.woff2') format('woff2'),
      url('./assets/fonts/Graphik-ExtralightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik ExtraLight';
  src: url('./assets/fonts/Graphik-Extralight.woff2') format('woff2'),
      url('./assets/fonts/Graphik-Extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik BoldItalic';
  src: url('./assets/fonts/Graphik-BoldItalic.woff2') format('woff2'),
      url('./assets/fonts/Graphik-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Bold';
  src: url('./assets/fonts/Graphik-Bold.woff2') format('woff2'),
      url('./assets/fonts/Graphik-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik BlackItalic';
  src: url('./assets/fonts/Graphik-BlackItalic.woff2') format('woff2'),
      url('./assets/fonts/Graphik-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Black';
  src: url('./assets/fonts/Graphik-Black.woff2') format('woff2'),
      url('./assets/fonts/Graphik-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sc-amplify-sign-in-button-s{
  display: none !important;
}