.org-paper-container{
    padding:30px 15px !important;
}
.org-title-container{
    margin-bottom:10px !important;
    padding: 5px;
}
.org-profile-img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.org-title{
    color:rgba(0,0,0,0.4);
    font-family:"Graphik Medium";
    font-size : 14px;
    line-height: 17px;
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
}
.org-info-section .org-info-icon{
    width:16px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right:3px;
    background-repeat: no-repeat;
}
.org-info-section .data-bold-with-icon{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom:5px;
}
.org-info-section .org-info-icon.green{
    background:#47CD08;
    border-radius: 50%;
    height:13px;
    
}
.org-info-section .data-bold-with-icon.doller-txt{
    align-items: center;
    margin-bottom: 2px;
} 
.org-info-section .data-bold-with-icon.avatar-img{
    margin-bottom:4px;
}

.org-info-section .org-info-icon.d-txt{
    color:rgba(0,0,0,1);
    font-family:"Graphik Medium";
    font-size : 14px;
    line-height: 17px;
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
    height: auto;
}
.org-info-section .org-info-icon.avatar{
    background-image:url('../../assets/Combined\ Shape@2x.svg');
    width:19px;
}
.MuiDialogTitle-root{
    padding:0px;
    text-transform: uppercase;
}
.MuiDialogActions-root .btn{
    padding:12px 50px;
    margin-left:30px !important;
}
.input-file-group.edit{
    text-align:center;
}
.profile-img-editview{
    width:110px;
    height:110px;
    border-radius: 50%;
    margin:0 auto;
}

